.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.pic-product img {
    transition: transform 0.3s ease-in-out;
}
.pic-product:hover img{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; 
}
.image-container {
    position: relative;
    overflow: hidden; /* Ẩn phần hình ảnh bị phóng to ra ngoài khung */
    width: 100%; 
    height: auto; /* Đảm bảo chiều cao tự động điều chỉnh theo ảnh */
}

.container-star{
    display: inline-flex;
}
.image{
    width: 50%;
    margin-left: 7%;
}
.container-data{
    display: inline-flex;
    width: 100%;
}
.info{
    margin: 5% 2%;
    border-radius: 16px;
    box-shadow: 0px 0px 3px 1px;
}
.img-item {
    border: 1px solid black;
    margin-left: 10px;
}
.list-img{
    display: inline-flex;
    flex-direction: column;
    width: 10%;
    position: relative;
}
.filter{
    filter: brightness(0.6);
}
.center{
    text-align: center;
}
.counter-container {
    width: 300px;
    margin: 20px auto;
  }
  
  .counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  .button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ddd;
  }
  
  span {
    width: 30px;
    text-align: center;
    font-size: 18px;
  }
  
  .data-detail{
    display: flex;
  }
  .accordion-button::after {
    font-family: 'FontAwesome';
    float: right;
    color: #000;
}
.title{
    margin-top: 15px;
    margin-left: 7%
}
.line{
    display: inline-flex;
    padding: 0rem .03125rem;
    margin: 3px 1rem;
    height: 1rem;
    background-color: black;
    width: 1px;
}