.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.pic-product img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.pic-product:hover img{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; 
}
.image-container {
    position: relative;
    overflow: hidden; /* Ẩn phần hình ảnh bị phóng to ra ngoài khung */
    width: 100%; 
    height: 300px; /* Đảm bảo chiều cao tự động điều chỉnh theo ảnh */
}

.container-star{
    display: inline-flex;
}