{% extends "admin_tour/base.html" %}
{%block content%}

        <div class="main-content">
            <div id="page-inner">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="card-title">
                                    <div class="title">TẠO GROUP</div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="sub-title">Tên group</div>
                                <div>
                                    <input type="text" class="form-control" placeholder="Tên group">
                                </div>
                                <div class="sub-title">Mô tả</div>
                                <div>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <button type="button" class="btn btn-default">TẠO GROUP</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}