{% extends "admin_tour/base.html" %}
{%block content%}
        <div class="main-content">
            <div id="page-inner">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="card-title">
                                    <div class="title">TẠO USER</div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form  method="POST" action="{% url 'create_user' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tên user</label>
                                        <input type="text" class="form-control" class"username" name="username" id="name" placeholder="Tên user">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" class="email" id="email" name="email" placeholder="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Mật khẩu</label>
                                        <input type="password" class="form-control" class="password" name="password" id="password" placeholder="Mật khẩu">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Nhập lại mật khẩu</label>
                                        <input type="password" class="form-control" class="confirm_password" name="confirm_password" id="confirm-password" placeholder="Mật khẩu">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Họ & tên</label>
                                        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="fullname">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Số điện thoại</label>
                                        <input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="phone_number">
                                    </div>
                                    
                                    
                                    <div class="checkbox3 checkbox-round">
                                        <input type="checkbox" id="checkbox-1">
                                        <label for="checkbox-1">
                                            Hiển thị mât khẩu
                                        </label>
                                        
                                      </div>
                                    <div>
                                        <label for="exampleInputPassword1">Quyền</label>
                                        <select class="form-select" name="form-select" aria-label="Default select example" name="role">
                                            <option selected>Chọn quyền</option>
                                            <option value="admin">Admin</option>
                                            <option value="user">User</option>
                                            <option value="staff">Staff</option>
                                        </select>
                                    <button type="submit" class="btn btn-default">TẠO USER</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}