{% extends "admin_tour/base.html" %}
{%block content%}

        <div class="main-content">
            <div id="page-inner">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="card-title">
                                    <div class="title">QUẢN LÝ GROUP</div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3>Danh sách group</h3>
                                        <ul class="list-group group-list" id="group-list">
                                            <!-- Danh sách group sẽ hiển thị tại đây -->
                                        </ul>
                                    </div>
                        
                                    <div class="col-md-8">
                                        <h3 id="current-group-title">Chọn một group</h3>
                                        <ul class="list-group member-list" id="member-list">
                                            <!-- Danh sách thành viên của group sẽ hiển thị tại đây -->
                                        </ul>
                        
                                        <div class="form-group mt-4">
                                            <label for="new-member">Thêm thành viên mới</label>
                                            <input type="text" class="form-control" id="new-member" placeholder="Nhập tên thành viên">
                                        </div>
                                        <button class="btn btn-primary btn-add" onclick="addMember()">Thêm thành viên</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}