{% extends "admin_tour/base.html" %}
{%block content%}
        <div class="main-content">
            <h2 class="text-center">Quản Lý Tour Du Lịch</h2>

            <div class="container mt-5">
                <h3>Danh sách các tour đã tổ chức</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID Tour</th>
                            <th>Tên Tour</th>
                            <th>Điểm Khởi Hành</th>
                            <th>Điểm Đến</th>
                            <th>Giá</th>
                            <th>Thời Gian (ngày)</th>
                        </tr>
                    </thead>
                    <tbody id="completedTourList">
                        <!-- Các tour đã kết thúc sẽ được render ở đây -->
                    </tbody>
                </table>
            </div>
{%endblock%}