<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giao Diện Quản Trị</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Custom Styles -->
    <link href="../../static/css/styles.css" rel="stylesheet">
    <!-- Bootstrap Styles-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../../static/css/font-awesome.css" rel="stylesheet" />
    <script src="../../static/js/jquery-3.7.1.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/custom.js"></script>
    <script src="https://kit.fontawesome.com/99c4f82c90.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="header">
        <a class="navbar-brand" href="tour_list.html"><strong><i class="fa-solid fa-plane-departure"></i> TOUR DU
                LỊCH</strong></a>
        <div class="options">
            Chào mừng, Admin | <a href="#">Đổi mật khẩu</a> | <a href="#">Đăng xuất</a>
        </div>
    </div>

    <div class="containe">
        <div class="sidebar">
            <h3>QUẢN LÝ TÀI KHOẢN</h3>
            <ul>
                <li>
                    <div><i class="fa-solid fa-users"></i> Group<span class="fa arrow"></span></div>
                    <ul class="nav-second-level">
                        <li>
                            <a href="create_group.html" class = "active"><span><i class="fa-solid fa-plus"></i> Tạo group</span></a>
                        </li>
                        <li>
                            <a href="group_management.html"><span><i class="fa-solid fa-people-roof"></i> Quản lý group</span></a>
                        </li>
                    </ul>
                </li>

                <li>
                    <div><i class="fa-solid fa-user"></i> User<span class="fa arrow"></span></div>
                    <ul class="nav-second-level">
                        <li>
                            <a href="create_user.html"><span><i class="fa-solid fa-user-plus"></i> Tạo user</span></a>
                        </li>
                        <li>
                            <a href="user_management.html"><span><i class="fa-solid fa-user-pen"></i> Quản lý user</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <h3>QUẢN LÝ TOUR</h3>
            <ul>
                <li><a href="tour_management.html"><span>Các tour hiện tại</span></a></li>
                <li><a href="organized_tour.html"><span>Các tour đã tổ chức</span></a></li>
            </ul>
            <h3>QUẢN LÝ GIAO DỊt</h3>
            <ul>
                <li><a href="transaction_management.html"><span>Danh mục</span></a></li>
            </ul>
        </div>

        <div class="main-content">
            <div id="page-inner">
                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="card-title">
                                    <div class="title">QUẢN LÝ USER</div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <h3>Danh sách User</h3>
                                    <ul class="list-group user-list" id="user-list">
                                        <!-- Danh sách user sẽ được hiển thị ở đây -->
                                    </ul>

                                    <div class="user-info" id="user-info">
                                        <!-- Thông tin chi tiết của user sẽ hiển thị ở đây -->
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>