{% extends "admin_tour/base.html" %}
{%block content%}
        <div class="main-content">
            <div id="page-inner">
                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="card-title">
                                    <div class="title">QUẢN LÝ USER</div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <h3>Danh sách User</h3>
                                <div id="main">
                                    <table id="tour-table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Họ và tên</th>
                                                <th>Username</th>
                                                <th>Password</th>
                                                <th>Số điện thoại</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tour-data">
                                            {%for i in user %}
                                            <tr>
                                                <td>{{i.id}}</td>
                                                <td>{{i.fullname}}</td>
                                                <td>{{i.username}}</td>
                                                <td>{{i.password}}</td>
                                                <td>{{i.phone_number}}</td>
                                                <td>{{i.role}}</td>
                                                <td>
                                                    <a class="edit-btn" href="{% url 'edit_user' user_id=i.id %}">Sửa</a>
                                                    <a class="delete-btn" href="{% url 'delete_user' user_id=i.id %}">Xóa</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}