:root {
    --main-color: #6dbfe2;
    --btn-color: #28a745;
    --remove-btn-color: #d9534f;
    --text-color: #333;
    --bg-color: #f2f2f2;
}



body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}


.container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);

    position: sticky;
}

h1 {
    text-align: center;
    color: var(--main-color);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
    color: var(--text-color);
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
}

.form-section h2 {
    font-size: 2rem;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fbfbfb;
    font-size: 1rem;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--bg-color);
}

.image-inputs {
    margin-bottom: 20px;
}

.image-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

textarea {
    height: 100px;
}

.add-section-btn {
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-width: 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

.submit-btn {
    background-color: var(--btn-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-hover {
    transition: box-shadow 0.5s ease, border-color 0.7s ease;
    /* Thêm hiệu ứng chuyển tiếp cho viền */
    border: 2px solid transparent;
    /* Thiết lập viền ban đầu */
}

.btn-hover:hover {
    border-color: var(--main-color);
    /* Đổi màu viền khi hover */
    box-shadow: 0 0 10px var(--main-color), 0 0 12px var(--main-color);
    /* Tạo hiệu ứng blur cho viền */

}

.form-section {
    margin-bottom: 20px;
}



.form-section-title {
    font-size: 20px;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 15px;
}

.form-section-title-main {
    font-size: 25px;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 15px;
}

.remove-section-btn {
    background-color: var(--remove-btn-color);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.remove-image-btn {
    background-color: var(--remove-btn-color);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin: 1rem 1rem 1rem 0;
}

/*=======================Drag and Drop img================*/
.image-drop-zone {
    width: 100%;
    height: 150px;
    border: 2px dashed var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.image-drop-zone:hover {
    border-color: var(--btn-color);
}

.image-preview {
    display: block;
    max-width: 100%;
    max-height: 150px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.remove-image-btn {
    margin-top: 10px;
}


/*============================HOVER=========================*/
.submit-btn:hover {
    background-color: #218838;
}

.add-section-btn:hover {
    background-color: #4299bd;
    transition-duration: 0.5s;
}



.remove-image-btn:hover {
    background-color: #c9302c;
}


.remove-section-btn:hover {
    background-color: #c9302c;
}