body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: black;
    margin: 0;
}

.header {
    background-color: white;
    padding: 20px;
    text-align: right;
    font-size: 14px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.8);
}

.header a {
    color: black;
}

.containe {
    display: flex;
}

.sidebar {
    background-color: #292929;
    width: 250px;
    height: 100vh;
    padding: 15px;
}

.sidebar h3 {
    color: #5c9;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #5c9;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #EDEDED;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #444;
    text-align: left;
}

.table th {
    background-color: #007acc;
}

.table td {
    background-color: #333;
}

.filter-section {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.filter-section select {
    padding: 5px;
    margin-right: 10px;
}

.brand {
    left: 0;
    top: 0;
    width: 250px;
    position: absolute;
    background-color: #007acc;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.options a {
    margin-left: 10px;
    margin-right: 10px;
}

.board .panel {
    padding: 25px 15px;
    border: none;
    background: #fff;
}

.board .number {
    float: left;
}

.board .icon {
    float: right;
}

.number h3 {
    font-size: 32px;
    color: #676767;
}

.number small {
    font-size: 14px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
    margin: 8px 5px;
    display: inline-block;
}

.board .panel .icon .fa {
    font-size: 30px;
    color: #FFFFFF;
    background: #30A5FF;
    padding: 19px;
}

.blue {
    background: #30A5FF !important;
}

.green {
    background: #1ABC9C !important;
}

.yellow {
    background: #FABE28 !important;
}

.red {
    background: #f36a5a !important;
}

.panel-primary {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}

.panel {
    border-radius: 0px;
}

.panel-default {
    border-color: #ECECEC;
}

.chartJs {
    padding-right: 15px;
}

.panel-default>.panel-heading {
    color: #555;
    border-color: #FFF;
    font-weight: bold;
    background: #FFFFFF;
    font-size: 16px;
    text-shadow: none;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


