{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tour du lịch</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/tour_mng/tour_styles.css' %}">
    <link rel="icon" href="../../static/pictures/logo.jpg">
</head>

<body>
    <div>
        <div id="header_div">
            <div class="sub_head_div">
                <h1>Quản Lý Tour Du Lịch</h1>
            </div>
            <div class="sub_head_div">
                <!-- Offcanvas Sidebar -->
                <div class="offcanvas offcanvas-start" id="demo">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                        <a href="#" class="logout-btn"><i class="fa-solid fa-right-from-bracket"></i></a>
                        <span class="offcanvas-title" id="offcanvas-title-1" style="color:#ffffff;">Milky</span>
                        <span class="offcanvas-title" id="offcanvas-title-2" style="color:#00d4ff"> Way</span>
                        <h1 class="staff-name">Trần Hữu Hậu</h1>
                        <h1 class="staff-mail">hauvtct@gmail.com</h1>

                    </div>

                    <div class="offcanvas-body">
                        <a href="{% url 'payment' %}" target="_blank">
                            Quản lý thanh toán
                        </a><br>
                        <a href="#" target="_blank">
                            Trang thứ 2
                        </a><br>
                        <a href="#" target="_blank">
                            Trang thứ 3
                        </a><br>


                    </div>
                </div>

                <!-- Button to open the offcanvas sidebar -->
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>

        <a class="add-tour" href="{% url 'add_tour' %}" target="_blank">Thêm Tour Mới</a>

        <div id="main">

            <table id="tour-table">
                <thead>
                    <tr>
                        <th>Địa Điểm</th>
                        <th>Ngày Đi</th>
                        <th>Ngày Về</th>
                        <th>Tổng Số Vé</th>
                        <th>Số Vé Còn Lại</th>
                        <th>Giá Tiền</th>
                        <th>Hành Động</th>
                    </tr>
                </thead>
                <tbody id="tour-data">
                    {%for i in tour %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.start_date}}</td>
                        <td>{{i.end_date}}</td>
                        <td>{{i.available_seats}}</td>
                        <td>{{i.remaining_seats}}</td>
                        <td>{{i.price}}</td>
                        <td>
                            <a class="edit-btn" href="{% url 'tour_edit' tour_id=i.id %}" target="_blank">Sửa</a>
                            <button class="delete-btn">Xóa</button>
                            <a class="more-info-btn" href="#">Xem chi tiết</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
    </div>

    <!-- Modal Xác Nhận Xóa -->

    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Xác Nhận Xóa</h2>
            <p>Bạn có chắc chắn muốn xóa tour này không?</p>
            <div class="modal-actions">
                <button id="confirmDelete" class="modal-button confirm">Xóa</button>
                <button id="cancelDelete" class="modal-button cancel">Hủy</button>
            </div>
        </div>
    </div>
    <script src="{% static 'javascript/tour_scpt/tour_mng.js' %}"></script>
</body>

</html>