{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chỉnh sửa Tour Du Lịch</title>
    <link rel="stylesheet" href="{% static 'css/tour_mng/add_tour.css' %}">
    <link rel="icon" href="../../static/pictures/logo.jpg">
</head>

<body>

    <div class="container">
        <h1>Chỉnh sửa thông tin Tour Du Lịch: {{ tour.name }}</h1>
        <form id="tour_form" action="{% url 'tour_edit' tour.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Thông Tin Tour -->
            <div class="form-section">
                <label for="tour_name">Tên Tour:</label>
                <input type="text" id="tour_name" name="tour_name" required value="{{ tour.name }}">
                <label for="tour_code">Tên người thêm Tour:</label>
                <input type="text" id="tour_code" name="tour_code" required value="{{ tour.user_tour }}">
                <label for="start_location">Địa Điểm Khởi Hành:</label>
                <input type="text" id="start_location" name="start_location" required value="{{ tour.start_location }}">
                <label for="destination">Địa Điểm Du Lịch:</label>
                <input type="text" id="destination" name="destination" required value="{{ tour.destination }}">
                <label for="start_date">Ngày Khởi Hành:</label>
                <input type="date" id="start_date" name="start_date" required value="{{ tour.start_date }}">
                <label for="end_date">Ngày Kết Thúc:</label>
                <input type="date" id="end_date" name="end_date" required value="{{ tour.end_date }}">
                <label for="tour_price">Giá Tiền (VND):</label>
                <input type="number" id="tour_price" name="tour_price" required value="{{ tour.price }}">
                <label for="passenger_count">Số Lượng Hành Khách:</label>
                <input type="number" id="passenger_count" name="passenger_count" required
                    value="{{ tour.available_seats }}">
                <label for="remaining_count">Số Lượng Còn Lại:</label>
                <input type="number" id="remaining_count" name="remaining_count" required
                    value="{{ tour.remaining_seats }}">
            </div>

            <!-- Upload Hình Ảnh Tour -->
            <div class="image-gallery">
                <h2>Hình Ảnh Tour</h2>
                {% for image in images %}
                <div class="image-item">
                    <p>URL: {{ image.ImageURL }}, ID: {{ image.id }}</p> <!-- Kiểm tra giá trị -->
                    <img src="{{ image.ImageURL }}" alt="Hình ảnh {{ image.position }}" />
                    <form action="{% url 'delete_image' image.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </div>
                {% empty %}
                <p>Không có hình ảnh nào cho tour này.</p>
                {% endfor %}
            </div>

            <!-- Thêm Hình Ảnh Mới -->
            <form id="add_image_form" action="{% url 'add_images' tour.id %}" method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                <label for="tour_images">Thêm Hình Ảnh Mới:</label>
                <input type="file" id="tour_images" name="tour_images" accept="image/*" multiple required>
                <button type="submit" class="btn btn-success">Thêm Hình Ảnh</button>
            </form>

            <!-- Nút submit -->
            <button type="submit" class="submit-btn btn btn-primary">Lưu thông tin</button>