<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tour</title>
    <link rel="stylesheet" href="../../static/css/tour_mng/tour_styles.css">
</head>

<body>
    <div class="container">
        <div id="header_div">
            <div class="sub_head_div">
                <h1>Quản Lý Tour Du Lịch</h1>
            </div>
            <div class="sub_head_div">
                <button class="logout_btn">Đăng xuất</button>
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                        <a href="#">Chat với khách hàng</a>
                        <a href="#">Xác nhận tour</a>
                    </div>
                </div>
            </div>
        </div>

        <button class="add-tour"><a href="#">Thêm Tour Mới</a></button>

        <div id="main">
            <table>
                <thead>
                    <tr>
                        <th>Địa Điểm</th>
                        <th>Ngày Đi</th>
                        <th>Ngày Về</th>
                        <th>Số Thành Viên</th>
                        <th>Giá Tiền</th>
                        <th>Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Đà Lạt</td>
                        <td>15/11/2024</td>
                        <td>20/11/2024</td>
                        <td>25</td>
                        <td>10,000,000 VND</td>
                        <td>
                            <button class="edit-btn">Sửa</button>
                            <button class="delete-btn">Xóa</button>
                            <button class="more-info-btn"><a href="#">Xem chi tiết</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Đà Lạt</td>
                        <td>15/11/2024</td>
                        <td>20/11/2024</td>
                        <td>25</td>
                        <td>10,000,000 VND</td>
                        <td>
                            <button class="edit-btn">Sửa</button>
                            <button class="delete-btn">Xóa</button>
                            <button class="more-info-btn"><a href="#">Xem chi tiết</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Đà Lạt</td>
                        <td>15/11/2024</td>
                        <td>20/11/2024</td>
                        <td>25</td>
                        <td>10,000,000 VND</td>
                        <td>
                            <button class="edit-btn">Sửa</button>
                            <button class="delete-btn">Xóa</button>
                            <button class="more-info-btn"><a href="#">Xem chi tiết</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Đà Lạt</td>
                        <td>15/11/2024</td>
                        <td>20/11/2024</td>
                        <td>25</td>
                        <td>10,000,000 VND</td>
                        <td>
                            <button class="edit-btn">Sửa</button>
                            <button class="delete-btn">Xóa</button>
                            <button class="more-info-btn"><a href="#">Xem chi tiết</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Đà Lạt</td>
                        <td>15/11/2024</td>
                        <td>20/11/2024</td>
                        <td>25</td>
                        <td>10,000,000 VND</td>
                        <td>
                            <button class="edit-btn">Sửa</button>
                            <button class="delete-btn">Xóa</button>
                            <button class="more-info-btn"><a href="#">Xem chi tiết</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Đà Lạt</td>
                        <td>15/11/2024</td>
                        <td>20/11/2024</td>
                        <td>25</td>
                        <td>10,000,000 VND</td>
                        <td>
                            <button class="edit-btn">Sửa</button>
                            <button class="delete-btn">Xóa</button>
                            <button class="more-info-btn"><a href="#">Xem chi tiết</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Đà Lạt</td>
                        <td>15/11/2024</td>
                        <td>20/11/2024</td>
                        <td>25</td>
                        <td>10,000,000 VND</td>
                        <td>
                            <button class="edit-btn">Sửa</button>
                            <button class="delete-btn">Xóa</button>
                            <button class="more-info-btn"><a href="#">Xem chi tiết</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Đà Lạt</td>
                        <td>15/11/2024</td>
                        <td>20/11/2024</td>
                        <td>25</td>
                        <td>10,000,000 VND</td>
                        <td>
                            <button class="edit-btn">Sửa</button>
                            <button class="delete-btn">Xóa</button>
                            <button class="more-info-btn"><a href="#">Xem chi tiết</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Đà Lạt</td>
                        <td>15/11/2024</td>
                        <td>20/11/2024</td>
                        <td>25</td>
                        <td>10,000,000 VND</td>
                        <td>
                            <button class="edit-btn">Sửa</button>
                            <button class="delete-btn">Xóa</button>
                            <button class="more-info-btn"><a href="#">Xem chi tiết</a></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>