<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Booking Guides</title>
    <link rel="stylesheet" href="../static/css/saigonguide.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/travelguide.css">

</head>
<body>
    <header class="header">
        
        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">Destination</a>
            <a href="#">Packages</a>
            <a href="#">Special Offers</a>
            <a href="#">Blog</a>
            <a href="#">Subscription</a>
        </nav>
        <div class="login-buttons">
            <button class="login">Đăng Nhập</button>
            <button class="register">Đăng ký</button>
        </div>
    </header>
    <div class="container">
        <h1>Đà Nẵng</h1>
        <div class="breadcrumb">
            <a href="https://vi.wikipedia.org/wiki/Hi%E1%BB%87p_h%E1%BB%99i_c%C3%A1c_qu%E1%BB%91c_gia_%C4%90%C3%B4ng_Nam_%C3%81">Asia</a> / <a href="https://vi.wikipedia.org/wiki/Vi%E1%BB%87t_Nam">Việt Nam</a> / Đà Nẵng
        </div>
                    <div class="description">
                        Với tốc độ phát triển nhanh như vũ bão, quả không ngoa khi Đà Nẵng được mệnh danh là thành phố đáng sống nhất Việt Nam. Từ những cây cầu hùng vĩ, những bãi biển trong xanh đến vẻ đẹp trời ban của bán đảo Sơn Trà đã khiến du lịch Đà Nẵng tự túc trở nên tuyệt vời hơn bao giờ hết. Không dừng lại ở đó, du lịch Đà Nẵng tự túc còn hấp dẫn du khách với ẩm thực đa dạng, các hoạt động về đêm thú vị và con người thân thiện. Cuối cùng hãy ghé qua những địa điểm gần Đà Nẵng là di sản văn hoá thế giới UNESCO như Hoàng thành Huế, phố cổ Hội An, và thánh địa Mỹ Sơn để chuyến du lịch Đà Nẵng trong mơ của bạn trở nên thật trọn vẹn nhé!                    </div>
                    <div class="explore">
                        <div class="explore-icon">💡</div>
                        <div class="explore-content">
                            Tìm hiểu <a href="https://vi.wikipedia.org/wiki/%C4%90%C3%A0_N%E1%BA%B5ng">Đa Nang City</a><br>
                            Tham quan các điểm nổi bật của điểm đến này
                        </div>
                    </div>
                 <section class="places-section">
                    <h2>Điểm tham quan du lịch Đà Nẵng nổi tiếng</h2>
                    <div class="places-grid">
                        <div class="place-card">
                            <img src="image/danang.jpg" alt="Quận Hải Châu" class="place-image">
                            <div class="place-name">Quận Hải Châu</div>
                            
                        </div>
                        <div class="place-card">
                            <img src="image/danang.jpg" alt="SSơn Trà" class="place-image">
                            <div class="place-name">Sơn Trà</div>
                        </div>
                        <div class="place-card">
                            <img src="image/danang.jpg" alt="Ngũ Hành Sơn" class="place-image">
                            <div class="place-name">Ngũ Hành Sơn</div>
                        </div>
                    </div>
                </section>
                
                <section class="inspired-articles-section">
                    <h2>Bài viết cảm hứng du lịch tại Đà Nẵng</h2>
                    <div class="places-grid">
                        <div class="place-card">
                            <img src="image/danang.jpg" alt="Cafe" class="place-image">
                            <div class="place-name">Top các quán cà phê đẹp ở Đà Nẵng cho bạn</div>
                        </div>
                        <div class="place-card">
                            <img src="image/danang.jpg" alt="bien" class="place-image">
                            <div class="place-name">Kinh nghiệm du lịch biển cho mùa hè 2024</div>
                        </div>
                        <div class="place-card">
                            <img src="image/danang.jpg" alt="taxi" class="place-image">
                            <div class="place-name">Review dịch vụ taxi</div>
                        </div>
                    </div>
                </section>
                <footer  class="footer-copyright">
                    <div class="f-container">
                        <div class="footer-content">
                            <div class="f-row">
            
                                <div class="col-sm-3">
                                    <div class="single-footer-item">
                                        <div class="footer-logo">
                                            <a href="index.html">
                                                tour<span>Nest</span>
                                            </a>
                                            <p>
                                                best travel agency
                                            </p>
                                        </div>
                                    </div><!--/.single-footer-item-->
                                </div><!--/.col-->
            
                                <div class="col-sm-3">
                                    <div class="single-footer-item">
                                        <h2>link</h2>
                                        <div class="single-footer-txt">
                                            <p><a href="#">home</a></p>
                                            <p><a href="#">destination</a></p>
                                            <p><a href="#">spacial packages</a></p>
                                            <p><a href="#">special offers</a></p>
                                            <p><a href="#">blog</a></p>
                                            <p><a href="#">contacts</a></p>
                                        </div><!--/.single-footer-txt-->
                                    </div><!--/.single-footer-item-->
            
                                </div><!--/.col-->
            
                                <div class="col-sm-3">
                                    <div class="single-footer-item">
                                        <h2>popular destination</h2>
                                        <div class="single-footer-txt">
                                            <p><a href="#">china</a></p>
                                            <p><a href="#">venezuela</a></p>
                                            <p><a href="#">brazil</a></p>
                                            <p><a href="#">australia</a></p>
                                            <p><a href="#">london</a></p>
                                        </div><!--/.single-footer-txt-->
                                    </div><!--/.single-footer-item-->
                                </div><!--/.col-->
            
                                <div class="col-sm-3">
                                    <div class="single-footer-item text-center">
                                        <h2 class="text-left">contacts</h2>
                                        <div class="single-footer-txt text-left">
                                            <p>+1 (300) 1234 6543</p>
                                            <p class="foot-email"><a href="#">info@tnest.com</a></p>
                                            <p>North Warnner Park 336/A</p>
                                            <p>Newyork, USA</p>
                                        </div><!--/.single-footer-txt-->
                                    </div><!--/.single-footer-item-->
                                </div><!--/.col-->
            
                            </div><!--/.row-->
            
                        </div><!--/.footer-content-->
                        <hr>
                        <div class="foot-icons ">
                            <ul class="footer-social-links list-inline list-unstyled">
                                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa-solid fa-x"></i></a></li>
                                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                            <p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>
            
                        </div><!--/.foot-icons-->
                        <div class="Gototop" id="Gototop">
                            <a href="javascript:;" onclick="goToTop()"><i class="fa-solid fa-arrow-up"></i></a>
                        </div><!--/.scroll-Top-->
                    </div><!-- /.container-->
            
                </footer><!-- /.footer-copyright-->
                <!-- footer-copyright end -->
            <!--JavaScript-->
            <script src="../static/javascript/MainPage.js"></script>
            <script src="../static/javascript/scroll.js"></script>
            </body>
            </html>       
       