{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Booking Guides</title>
    <link rel="stylesheet" href="/MilkyWay/Stuffs/static/css/saigonguide.css">
    <link rel="stylesheet" href="/MilkyWay/Stuffs/static/css/footer.css">
    <link rel="stylesheet" href="/MilkyWay/Stuffs/static/css/travelguide.css">

</head>
<body>
    <header class="header">
        
        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">Destination</a>
            <a href="#">Packages</a>
            <a href="#">Special Offers</a>
            <a href="#">Blog</a>
            <a href="#">Subscription</a>
        </nav>
        <div class="login-buttons">
            <button class="login">Đăng Nhập</button>
            <button class="register">Đăng ký</button>
        </div>
    </header>
    <div class="container">
        <h1>Pháp</h1>
        <div class="breadcrumb">
            <a href="https://vi.wikipedia.org/wiki/Hi%E1%BB%87p_h%E1%BB%99i_c%C3%A1c_qu%E1%BB%91c_gia_%C4%90%C3%B4ng_Nam_%C3%81">Europe</a> / Pháp
        </div>
        <div class="description">
            Là đất nước của nghệ thuật và tình yêu, là điểm đến mà ai cũng khao khát được một lần ghé thăm. Pháp lôi cuốn khách du lịch bởi sự lãng mạn của những con phố lát đá cuội ở Paris, vẻ đẹp của tháp Eiffel khi lên đèn về đêm hay những công trình kiến trúc độc đáo như nhà thờ Đức Bà và bảo tàng Louvre.
            
            Du lịch Pháp tự túc là cơ hội để trải nghiệm nền ẩm thực tinh tế với các món ăn trứ danh như bánh mì baguette, phô mai Pháp, bánh macaron, và rượu vang. Bên cạnh Paris, còn có những vùng đất quyến rũ như Provence ngập tràn hương hoa oải hương, những vườn nho ở Bordeaux hay dãy núi Alps tuyệt đẹp vào mùa đông. Pháp hứa hẹn sẽ là điểm đến khiến bạn không thể nào quên, với vô số điều thú vị và nét lãng mạn khó tả đang chờ bạn khám phá.
        </div>
        <div class="explore">
            <div class="explore-icon">💡</div>
            <div class="explore-content">
                Tìm hiểu <a href="https://vi.wikipedia.org/wiki/Ph%C3%A1p">France</a><br>
                Tham quan các điểm nổi bật của điểm đến này
            </div>
        </div>
     <section class="places-section">
        <h2>Điểm tham quan du lịch Pháp nổi tiếng</h2>
        <div class="places-grid">
            <div class="place-card">
                <img src="../static/images/Bảo Tàng Musée du Louvre.jpg" alt="Bảo Tàng Musée du Louvre" class="place-image">
                <div class="place-name">Bảo Tàng Musée du Louvre</div>
            </div>
            <div class="place-card">
                <img src="../static/images/Cung Điện Giáo Hoàng.jpg" alt="Cung Điện Giáo Hoàng" class="place-image">
                <div class="place-name">Cung Điện Giáo Hoàng</div>
            </div>
            <div class="place-card">
                <img src="../static/images/Đấu Trường Arènes de Nîmes.jpg" alt="Đấu Trường Arènes de Nîmes" class="place-image">
                <div class="place-name">Đấu Trường Arènes de Nîmes</div>
            </div>
        </div>
    </section>
    
    <section class="famous-places-section">
        <h2>Các điểm đến nổi tiếng ở Pháp</h2>
        <div class="places-grid">
            <div class="place-card">
                <img src="../static/images/Eiffel.jpg" alt="Tháp Eiffel" class="place-image">
                <div class="place-name">Tháp Eiffel</div>
            </div>
            <div class="place-card">
                <img src="../static/images/Phố Rue Des Teinturiers.jpg" alt="Phố Rue Des Teinturiers" class="place-image">
                <div class="place-name">Phố Rue Des Teinturiers</div>
            </div>
            <div class="place-card">
                <img src="../static/images/Ngôi Đền Maison Carrée.jpg" alt="Ngôi Đền Maison Carrée" class="place-image">
                <div class="place-name">Ngôi Đền Maison Carrée</div>
            </div>
        </div>
    </section>
    
    <section class="inspired-articles-section">
        <h2>Bài viết cảm hứng du lịch tại Pháp</h2>
        <div class="places-grid">
            <div class="place-card">
                <a href="https://www.ivivu.com/blog/2022/07/cam-nang-du-lich-osaka-thien-duong-am-thuc-cua-nhat-ban/">
                    <img src="../static/images/Osaka.jpg" alt="Paris" class="place-image">
                    <div class="place-name">Paris</div>
                </a>
                
            </div>
            <div class="place-card">
                <a href="https://vn.trip.com/travel-guide/destination/lyon-391/">
                <img src="../static/images/Lyon.jpg" alt="Lyon" class="place-image">
                <div class="place-name">Lyon</div>
                </a>
            </div>
            <div class="place-card">
                <a href="https://luhanhvietnam.com.vn/du-lich/thanh-pho-grenoble-nuoc-phap.html">
                    <img src="../static/images/Grenoble.jpg" alt="Grenoble" class="place-image">
                    <div class="place-name">Grenoble</div>
                </a>
            </div>
        </div>
    </section>
    <footer  class="footer-copyright">
        <div class="f-container">
            <div class="footer-content">
                <div class="f-row">

                    <div class="col-sm-3">
                        <div class="single-footer-item">
                            <div class="footer-logo">
                                <a href="index.html">
                                    tour<span>Nest</span>
                                </a>
                                <p>
                                    best travel agency
                                </p>
                            </div>
                        </div><!--/.single-footer-item-->
                    </div><!--/.col-->

                    <div class="col-sm-3">
                        <div class="single-footer-item">
                            <h2>link</h2>
                            <div class="single-footer-txt">
                                <p><a href="#">home</a></p>
                                <p><a href="#">destination</a></p>
                                <p><a href="#">spacial packages</a></p>
                                <p><a href="#">special offers</a></p>
                                <p><a href="#">blog</a></p>
                                <p><a href="#">contacts</a></p>
                            </div><!--/.single-footer-txt-->
                        </div><!--/.single-footer-item-->

                    </div><!--/.col-->

                    <div class="col-sm-3">
                        <div class="single-footer-item">
                            <h2>popular destination</h2>
                            <div class="single-footer-txt">
                                <p><a href="#">china</a></p>
                                <p><a href="#">venezuela</a></p>
                                <p><a href="#">brazil</a></p>
                                <p><a href="#">australia</a></p>
                                <p><a href="#">london</a></p>
                            </div><!--/.single-footer-txt-->
                        </div><!--/.single-footer-item-->
                    </div><!--/.col-->

                    <div class="col-sm-3">
                        <div class="single-footer-item text-center">
                            <h2 class="text-left">contacts</h2>
                            <div class="single-footer-txt text-left">
                                <p>+1 (300) 1234 6543</p>
                                <p class="foot-email"><a href="#">info@tnest.com</a></p>
                                <p>North Warnner Park 336/A</p>
                                <p>Newyork, USA</p>
                            </div><!--/.single-footer-txt-->
                        </div><!--/.single-footer-item-->
                    </div><!--/.col-->

                </div><!--/.row-->

            </div><!--/.footer-content-->
            <hr>
            <div class="foot-icons ">
                <ul class="footer-social-links list-inline list-unstyled">
                    <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa-solid fa-x"></i></a></li>
                    <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
                <p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

            </div><!--/.foot-icons-->
            <div class="Gototop" id="Gototop">
                <a href="javascript:;" onclick="goToTop()"><i class="fa-solid fa-arrow-up"></i></a>
            </div><!--/.scroll-Top-->
        </div><!-- /.container-->

    </footer><!-- /.footer-copyright-->
    <!-- footer-copyright end -->
<!--JavaScript-->
<script src="../static/javascript/MainPage.js"></script>
<script src="../static/javascript/scroll.js"></script>
</body>
</html>