{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Booking Guides</title>
    <link rel="stylesheet" href="/MilkyWay/Stuffs/static/css/saigonguide.css">
    <link rel="stylesheet" href="/MilkyWay/Stuffs/static/css/footer.css">
    <link rel="stylesheet" href="/MilkyWay/Stuffs/static/css/travelguide.css">

</head>
<body>
    <header class="header">
        
        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">Destination</a>
            <a href="#">Packages</a>
            <a href="#">Special Offers</a>
            <a href="#">Blog</a>
            <a href="#">Subscription</a>
        </nav>
        <div class="login-buttons">
            <button class="login">Đăng Nhập</button>
            <button class="register">Đăng ký</button>
        </div>
    </header>
    <div class="container">
        <h1>Nhật Bản</h1>
        <div class="breadcrumb">
            <a href="https://vi.wikipedia.org/wiki/Hi%E1%BB%87p_h%E1%BB%99i_c%C3%A1c_qu%E1%BB%91c_gia_%C4%90%C3%B4ng_Nam_%C3%81">Asia/ Nhật Bản</a> 
        </div>
        <div class="description">
            Là một đất nước hòa quyện giữa truyền thống và hiện đại, Nhật Bản luôn mang trong mình một sức hút độc đáo và đầy quyến rũ. Nếu ai đó hỏi điều gì tạo nên nét đặc biệt thu hút du lịch Nhật Bản, thì có lẽ đó là sự thú vị khi dạo bước qua những con phố cổ kính, ngắm nhìn hoa anh đào nở rộ vào mùa xuân hay chiêm ngưỡng những công trình kiến trúc hiện đại đầy ấn tượng.
            Du lịch Nhật Bản tự túc còn hấp dẫn du khách bởi nền ẩm thực phong phú với các món ăn đặc sản như sushi, ramen, tempura, và các địa điểm nổi tiếng như núi Phú Sĩ, đền Kinkaku-ji (Chùa Vàng), hay những con phố tấp nập ở Tokyo. Có rất nhiều điều bất ngờ đang chờ bạn đến Nhật Bản để khám phá và trải nghiệm!        </div>
        <div class="explore">
            <div class="explore-icon">💡</div>
            <div class="explore-content">
                Tìm hiểu <a href="https://vi.wikipedia.org/wiki/Nh%E1%BA%ADt_B%E1%BA%A3n">Japan</a><br>
                Tham quan các điểm nổi bật của điểm đến này
            </div>
        </div>
     <section class="places-section">
        <h2>Điểm tham quan du lịch Nhật Bản nổi tiếng</h2>
        <div class="places-grid">
            <div class="place-card">
                <img src="../static/images/MountFuji.jpg" alt="Núi Phú Sĩ" class="place-image">
                <div class="place-name">Núi Phú Sĩ</div>
            </div>
            <div class="place-card">
                <img src="../static/images/FushimiInariShrine.jpg" alt="Đền Fushimi Inari Taisha" class="place-image">
                <div class="place-name">Đền Fushimi Inari Taisha</div>
            </div>
            <div class="place-card">
                <img src="../static/images/HimejiCastle.jpg" alt="Thành Himeji" class="place-image">
                <div class="place-name">Thành Himeji</div>
            </div>
        </div>
    </section>
    
    <section class="famous-places-section">
        <h2>Các điểm đến nổi tiếng ở Nhật Bản</h2>
        <div class="places-grid">
            <div class="place-card">
                <img src="../static/images/Kyoto.jpg" alt="Kyoto" class="place-image">
                <div class="place-name">Kyoto</div>
            </div>
            <div class="place-card">
                <img src="../static/images/Hiroshima Peace Memorial Park.jpg" alt="Công viên Hiroshima Peace Memorial Park" class="place-image">
                <div class="place-name">Công viên Hiroshima Peace Memorial Park</div>
            </div>
            <div class="place-card">
                <img src="../static/images/Tokyo.jpg" alt="Tokyo" class="place-image">
                <div class="place-name">Tokyo</div>
            </div>
        </div>
    </section>
    
    <section class="inspired-articles-section">
        <h2>Bài viết cảm hứng du lịch tại Nhật Bản</h2>
        <div class="places-grid">
            <div class="place-card">
                <a href="https://www.ivivu.com/blog/2022/07/cam-nang-du-lich-osaka-thien-duong-am-thuc-cua-nhat-ban/">
                    <img src="../static/images/Osaka.jpg" alt="Osaka" class="place-image">
                    <div class="place-name">Osaka</div>
                </a>
                
            </div>
            <div class="place-card">
                <a href="https://vn.trip.com/moments/gifu-1207/">
                <img src="../static/images/Gifu.jpg" alt="Gifu" class="place-image">
                <div class="place-name">Gifu</div>
                </a>
            </div>
            <div class="place-card">
                <a href="https://vn.trip.com/travel-guide/destination/saitama-56770/">
                    <img src="../static/images/Saitama.jpg" alt="Saitama" class="place-image">
                    <div class="place-name">Saitama</div>
                </a>
            </div>
        </div>
    </section>
    <footer  class="footer-copyright">
        <div class="f-container">
            <div class="footer-content">
                <div class="f-row">

                    <div class="col-sm-3">
                        <div class="single-footer-item">
                            <div class="footer-logo">
                                <a href="index.html">
                                    tour<span>Nest</span>
                                </a>
                                <p>
                                    best travel agency
                                </p>
                            </div>
                        </div><!--/.single-footer-item-->
                    </div><!--/.col-->

                    <div class="col-sm-3">
                        <div class="single-footer-item">
                            <h2>link</h2>
                            <div class="single-footer-txt">
                                <p><a href="#">home</a></p>
                                <p><a href="#">destination</a></p>
                                <p><a href="#">spacial packages</a></p>
                                <p><a href="#">special offers</a></p>
                                <p><a href="#">blog</a></p>
                                <p><a href="#">contacts</a></p>
                            </div><!--/.single-footer-txt-->
                        </div><!--/.single-footer-item-->

                    </div><!--/.col-->

                    <div class="col-sm-3">
                        <div class="single-footer-item">
                            <h2>popular destination</h2>
                            <div class="single-footer-txt">
                                <p><a href="#">china</a></p>
                                <p><a href="#">venezuela</a></p>
                                <p><a href="#">brazil</a></p>
                                <p><a href="#">australia</a></p>
                                <p><a href="#">london</a></p>
                            </div><!--/.single-footer-txt-->
                        </div><!--/.single-footer-item-->
                    </div><!--/.col-->

                    <div class="col-sm-3">
                        <div class="single-footer-item text-center">
                            <h2 class="text-left">contacts</h2>
                            <div class="single-footer-txt text-left">
                                <p>+1 (300) 1234 6543</p>
                                <p class="foot-email"><a href="#">info@tnest.com</a></p>
                                <p>North Warnner Park 336/A</p>
                                <p>Newyork, USA</p>
                            </div><!--/.single-footer-txt-->
                        </div><!--/.single-footer-item-->
                    </div><!--/.col-->

                </div><!--/.row-->

            </div><!--/.footer-content-->
            <hr>
            <div class="foot-icons ">
                <ul class="footer-social-links list-inline list-unstyled">
                    <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa-solid fa-x"></i></a></li>
                    <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
                <p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

            </div><!--/.foot-icons-->
            <div class="Gototop" id="Gototop">
                <a href="javascript:;" onclick="goToTop()"><i class="fa-solid fa-arrow-up"></i></a>
            </div><!--/.scroll-Top-->
        </div><!-- /.container-->

    </footer><!-- /.footer-copyright-->
    <!-- footer-copyright end -->
<!--JavaScript-->
<script src="../static/javascript/MainPage.js"></script>
<script src="../static/javascript/scroll.js"></script>
</body>
</html>