{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác nhận thông tin thanh toán cho tour</title>
    <link rel="stylesheet" href="../static/css/tour-payment-confirmation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="bg_Main">
        <header class="Pr_Menu">
            <div class="Menu">
                <div class="logo"><a href="index.html">Milky<span>Way</span></a></div>
                <div class="progress-bar-container">
                    <ul class="progress-bar">
                        <div class="progress-step">
                            <div class="circle active-circle">1</div>
                            <li class="active">Đặt vé</li>
                            <span class="dash"></span>
                        </div>
                        <div class="progress-step">
                            <div class="circle">2</div>
                            <li>Thanh toán</li>
                            <span class="dash"></span>
                        </div>
                        <div class="progress-step">
                            <div class="circle">3</div>
                            <li>Ví điện tử</li>
                        </div>
                    </ul>
                </div>
            </div>
            <hr>
            </header>
    </div>
    <div class="trang">
        <div class="container">
            <h1 aria-level="1" dir="auto" role="heading" class="heading">Đặt chỗ của tôi</h1>
            <div >
                <p>Điền thông tin và xem tóm tắt đặt chỗ</p>
            </div>
            <h3>Thông tin liên hệ</h3>
            <div class="form-section customer">
                <div class="header-section">
                    <h4 id="contact-info-header">Thông tin liên hệ (Nhận vé/phiếu thanh toán)</h4>
                    <div class="button-section">
                        <div id="save-button" class="btn-save">Lưu</div>
                        <div id="edit-button" class="btn-edit hidden">Chỉnh sửa chi tiết</div>
                    </div>
                </div>
                <form id="contact-form" class="visible"> 
                    <div class="nhap">
                        <label for="name">Họ và Tên:</label>
                        <input type="text" id="name" name="name" class="required" placeholder="Nhập họ và tên của bạn" required>
                    </div>
    
                    <div class="nhap-group">
                        <div class="nhap">
                            <label for="email">Email: </label>
                            <input type="email" id="email" name="email" class="required" placeholder="Nhập email của bạn" required>
                        </div>
        
                        <div class="nhap">
                            <label for="sdt">Số điện thoại:</label>
                            <input type="tel" id="sdt" name="sdt" class="required" placeholder="Nhập số điện thoại của bạn" required>
                        </div>
                    </div>
    
                    <div class="nhap">
                        <label for="address">Địa chỉ:</label>
                        <input type="text" id="address" name="address" class="required" placeholder="Nhập địa chỉ của bạn" required>
                    </div>
    
                </form>

                <div id="contact-info-display" class="hidden">
                    <div class="contact-info">
                        <div>Email: <span id="display-email"></span></div>
                        <div>Số điện thoại: <span id="display-phone"></span></div>
                        <div>Địa chỉ: <span id="display-address"></span></div>
                    </div>
                </div>
            
    
                <div class="radio-group">
                    <label class="radio-option"><input type="radio" name="customer_type" value="khach" required> Tôi là khách</label>
                    <label class="radio-option"><input type="radio" name="customer_type" value="dat_cho_nguoi_khac"> Tôi đặt cho người khác</label>
                </div>
            </div>

            <h3>Thông tin khách</h3>
            <div class="form-section tour-info">
                <div class="header-section">
                    <h4 id="guest-info-header">Thông tin khách</h4>
                    <div class="button-section">
                        <div id="g-save-button" class="btn-save">Lưu</div>
                        <div id="g-edit-button" class="btn-edit hidden">Chỉnh sửa chi tiết</div>
                    </div>
                </div>
                <form id="guest-inform-form" class="visible"> 
                    <div class="nhap">
                        <label for="salutation">Danh xưng:</label>
                        <select id="salutation" name="salutation" required>
                            <option value="" disabled selected ></option>
                            <option value="mr">Ông</option>
                            <option value="ms">Bà</option>
                            <option value="miss">Cô</option>
                        </select>
                    </div>
                    <div class="nhap">
                        <label for="guest-name">Họ và Tên :</label>
                        <input type="text" id="guest-name" name="guest-name" class="required" placeholder="Nhập tên khách hàng" required>
                    </div>

                    <div class="nhap-group">
                        <div class="nhap">
                            <label for="guest-email">Email: </label>
                            <input type="email" id="guest-email" name="guest-email" class="required" placeholder="Nhập email của bạn" required>
                        </div>
        
                        <div class="nhap">
                            <label for="sdt">Số điện thoại:</label>
                            <input type="tel" id="guest-phone" name="guest-phone" class="required" placeholder="Nhập số điện thoại của bạn" required>
                        </div>
                    </div>
    
                    <div class="nhap">
                        <label for="address">Địa chỉ:</label>
                        <input type="text" id="guest-address" name="guest-address" class="required" placeholder="Nhập địa chỉ của bạn" required>
                    </div>

                </form>
                <div id="guest-info-display" class="hidden">
                    <div class="guest-info">
                        <div>Email: <span id="g-display-email"></span></div>
                        <div>Số điện thoại: <span id="g-display-phone"></span></div>
                        <div>Địa chỉ: <span id="g-display-address"></span></div>
                    </div>
                </div>
            </div>
            
            <div class="nhap">
                <label for="special-request">Yêu cầu đặc biệt:</label>
                <textarea id="special-request" name="special-request" placeholder="Nhập yêu cầu đặc biệt (nếu có)"></textarea>
            </div>
            <div class="form-section bill-details">
                <h3>Chi tiết hóa đơn</h3>
                
                <!-- Tổng tiền -->
                <div class="bill-item">
                    <span>Tổng tiền vé:</span>
                    <span id="total-amount">2,000,000 VND</span>
                </div>
        
                <!-- Thuế và phí dịch vụ -->
                <div class="bill-item">
                    <span>Thuế và phí dịch vụ:</span>
                    <span id="tax-service-fee">10%</span>
                </div>
        
                <!-- Mã ưu đãi/khuyến mãi -->
                <div class="bill-item">
                    <label for="promo-code">Mã khuyến mãi:</label>
                    <input type="text" id="promo-code" placeholder="Nhập mã giảm giá">
                    <button id="apply-code">Áp dụng</button>
                </div>
        
                <!-- Tổng số tiền cần thanh toán -->
                <div class="bill-item total">
                    <span>Tổng số tiền cần thanh toán:</span>
                    <span id="final-amount">2,200,000 VND</span>
                </div>
    
            </div>
            
            <div class="continue-section">
                <button id="pay-button" class="btn-continue" id="continue-btn">Tiếp tục</button>
            </div>
        </div> 

        <div class="empty"></div>
        <div class="summary">
            <div>            
                <h3><i class="fas fa-ticket-alt"></i> Tóm tắt đặt chỗ</h3>
            </div>
            
            <div>
                <p><b>Tour:</b> Tour ngắm hoàng hôn và câu cá - Tour ghép</p>
            </div>

            <div class="tour-date">
                <p><b style="color: lightgray;">Ngày tham quan:</b> CN, 3 thg 11 2024</p>
                <p><b style="color: lightgray;">Người lớn:</b> 1</p>
            </div>

            <div>
                <p><b>Trạng thái vé:</b> Có hiệu lực vào 03 thg 11 2024</p>
                <p><b>Hoàn tiền:</b> Có thể hoàn tiền cho đến 31 thg 10 2024</p>
            </div>

            <div>
                <p>Để biết thêm chi tiết của vé này, <span class="view-details" onclick="openModal()">vui lòng xem tại đây</span>.</p>
            </div>


        </div>
    </div>

    <div id="confirmation-popup" class="confirmation-popup ">
        <div class="popup-content" >
            <h2>Tất cả thông tin đặt chỗ của bạn đều đã chính xác?</h2>
            <p>Bạn sẽ không thể thay đổi thông tin đặt chỗ sau khi tiến hành thanh toán. Bạn có muốn tiếp tục?</p>
            <div class="popup-buttons">
                <button id="check-again-btn" class="btn-check">Kiểm tra lại</button>
                <button id="proceed-btn" class="btn-cont">Tiếp tục</button>
            </div>
        </div>
    </div>
    
    <div id="error-container" class="error-container">
        <span id="error-message">Vui lòng điền thông tin liên hệ!</span>
        <button id="close-error-btn" class="close-btn">&times;</button>
    </div>
    <script src="../static/javascript/tour-payment-confirmation.js"></script> 
    
</body>
</html>
