{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Booking Guides</title>
    <link rel="stylesheet" href="/MilkyWay/Stuffs/static/css/saigonguide.css">
    <link rel="stylesheet" href="/MilkyWay/Stuffs/static/css/footer.css">
    <link rel="stylesheet" href="/MilkyWay/Stuffs/static/css/travelguide.css">

</head>
<body>
    <header class="header">
        
        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">Destination</a>
            <a href="#">Packages</a>
            <a href="#">Special Offers</a>
            <a href="#">Blog</a>
            <a href="#">Subscription</a>
        </nav>
        <div class="login-buttons">
            <button class="login">Đăng Nhập</button>
            <button class="register">Đăng ký</button>
        </div>
    </header>
    <div class="container">
        <h1>SaPa</h1>
        <div class="breadcrumb">
            <a href="https://vi.wikipedia.org/wiki/Hi%E1%BB%87p_h%E1%BB%99i_c%C3%A1c_qu%E1%BB%91c_gia_%C4%90%C3%B4ng_Nam_%C3%81">Asia</a> / <a href="https://vi.wikipedia.org/wiki/Vi%E1%BB%87t_Nam">Việt Nam</a> / Hà Nội
        </div>
                    <div class="description">
                        Bỏ lại chốn thành thị khói bụi để tìm về chút bình yên tại thị trấn Sapa, một thị trấn nhỏ của vùng núi Tây Bắc. Nổi tiếng với những thửa ruộng bậc thang vàng óng, các bản làng núp mình trên sườn núi cao, nền văn hóa và ẩm thực đa dạng của các dân tộc thiểu số, vì thế chẳng quá khó hiểu khi du lịch Sapa luôn được lòng du khách trong và ngoài nước. Và để có thể ngắm nhìn rõ nét vẻ đẹp của các dãy núi hùng vĩ và bầu trời mây bềnh bồng khi du lịch tự túc Sapa, trekking chính là sự lựa chọn tuyệt vời của bạn. Đừng chỉ ngắm nhìn Sapa trong tranh ảnh và những thước phim nữa, hãy mạnh dạn du lịch Sapa ngay để được một lần hòa mình trong cảnh sắc quyến rũ nơi đây.<div class="explore">
                        <div class="explore-icon">💡</div>
                        <div class="explore-content">
                            Tìm hiểu <a href="https://en.wikipedia.org/wiki/Sa_Pa">Sa Pa</a><br>
                            Tham quan các điểm nổi bật của điểm đến này
                        </div>
                    </div>
                 <section class="places-section">
                    <h2>Điểm tham quan du lịch Sapa nổi tiếng</h2>
                    <div class="places-grid">
                        <div class="place-card">
                            <img src="../static/images/sapa.jpg" alt="Trung Tâm SaPa" class="place-image">
                            <div class="place-name">Trung Tâm SaPa</div>
                            
                    </div>
                </section>
                
                <section class="inspired-articles-section">
                    <h2>Bài viết cảm hứng du lịch tại Sa Pa</h2>
                    <div class="places-grid">
                        <div class="place-card">
                            <img src="../static/images/sapat3.jpg" alt="SaPa tháng 3" class="place-image">
                            <div class="place-name">Sapa tháng 3 - Cẩm nang khám phá cho người đi lần đầu</div>
                        </div>
                        <div class="place-card">
                            <img src="../static/images/tavan.jpg" alt="Bản Tả Van" class="place-image">
                            <div class="place-name">Bản Tả Van</div>
                        </div>
                        <div class="place-card">
                            <img src="../static/images/doiche.jpg" alt="Đồi Chè Sapa" class="place-image">
                            <div class="place-name">Đồi chè Sa Pa</div>
                        </div>
                    </div>
                </section>
                <footer  class="footer-copyright">
                    <div class="f-container">
                        <div class="footer-content">
                            <div class="f-row">
            
                                <div class="col-sm-3">
                                    <div class="single-footer-item">
                                        <div class="footer-logo">
                                            <a href="index.html">
                                                tour<span>Nest</span>
                                            </a>
                                            <p>
                                                best travel agency
                                            </p>
                                        </div>
                                    </div><!--/.single-footer-item-->
                                </div><!--/.col-->
            
                                <div class="col-sm-3">
                                    <div class="single-footer-item">
                                        <h2>link</h2>
                                        <div class="single-footer-txt">
                                            <p><a href="#">home</a></p>
                                            <p><a href="#">destination</a></p>
                                            <p><a href="#">spacial packages</a></p>
                                            <p><a href="#">special offers</a></p>
                                            <p><a href="#">blog</a></p>
                                            <p><a href="#">contacts</a></p>
                                        </div><!--/.single-footer-txt-->
                                    </div><!--/.single-footer-item-->
            
                                </div><!--/.col-->
            
                                <div class="col-sm-3">
                                    <div class="single-footer-item">
                                        <h2>popular destination</h2>
                                        <div class="single-footer-txt">
                                            <p><a href="#">china</a></p>
                                            <p><a href="#">venezuela</a></p>
                                            <p><a href="#">brazil</a></p>
                                            <p><a href="#">australia</a></p>
                                            <p><a href="#">london</a></p>
                                        </div><!--/.single-footer-txt-->
                                    </div><!--/.single-footer-item-->
                                </div><!--/.col-->
            
                                <div class="col-sm-3">
                                    <div class="single-footer-item text-center">
                                        <h2 class="text-left">contacts</h2>
                                        <div class="single-footer-txt text-left">
                                            <p>+1 (300) 1234 6543</p>
                                            <p class="foot-email"><a href="#">info@tnest.com</a></p>
                                            <p>North Warnner Park 336/A</p>
                                            <p>Newyork, USA</p>
                                        </div><!--/.single-footer-txt-->
                                    </div><!--/.single-footer-item-->
                                </div><!--/.col-->
            
                            </div><!--/.row-->
            
                        </div><!--/.footer-content-->
                        <hr>
                        <div class="foot-icons ">
                            <ul class="footer-social-links list-inline list-unstyled">
                                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa-solid fa-x"></i></a></li>
                                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                            <p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>
            
                        </div><!--/.foot-icons-->
                        <div class="Gototop" id="Gototop">
                            <a href="javascript:;" onclick="goToTop()"><i class="fa-solid fa-arrow-up"></i></a>
                        </div><!--/.scroll-Top-->
                    </div><!-- /.container-->
            
                </footer><!-- /.footer-copyright-->
                <!-- footer-copyright end -->
            <!--JavaScript-->
            <script src="../static/javascript/MainPage.js"></script>
            <script src="../static/javascript/scroll.js"></script>
            </body>
            </html>       
       