<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/css/tour.css">
		<link rel="stylesheet" href="../static/css/footer.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 	
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</head>
	<body>
		<!--Slide-->
		<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
			  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
			  <div class="carousel-item active c-item" data-bs-interval="2000">
				<img src="../static/pictures/HomeBG.jpg" class="d-block w-100 c-img" alt="pic">
				<div class="carousel-caption top-0 mt-4 d-none d-md-block">
				  <h5 class="fs-3 mt-5 text-uppercase">First slide label</h5>
				  <p class="display-1 text-capitalize fw-bolder">Tour Booking</p>
				</div>
			  </div>
			  <div class="carousel-item c-item" data-bs-interval="2000">
				<img src="../static/pictures/bg_login.jpg" class="d-block w-100 c-img" alt="pic">
				<div class="carousel-caption top-0 mt-4 d-none d-md-block">
					<h5 class="fs-3 mt-5 text-uppercase">First slide label</h5>
					<p class="display-1 text-capitalize fw-bolder">Tour Booking</p>
				</div>
			  </div>
			  <div class="carousel-item c-item">
				<img src="../static/pictures/DaNang.jpg" class="d-block w-100 c-img" alt="...">
				<div class="carousel-caption top-0 mt-4 d-none d-md-block">
					<h5 class="fs-3 mt-5 text-uppercase">First slide label</h5>
					<p class="display-1 text-capitalize fw-bolder">Tour Booking</p>
				</div>
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
		  <!--Product-->
		  <div class="container">
			<h5 class="fs-3 text-uppercase mt-5 fw-bolder">Phân loại theo tìm kiếm</h5>
			<div class="row gy-4">
				<div class="col-lg-4 pic-product">
					<div class="image-container">
						<img src="../static/pictures/DaNang.jpg" class="d-block mt-4 w-100 " alt="">
					</div>
					<div class="card">
						<h5 class="text-primary p-2">Phu Quoc</h5>
						<h6 class="px-2">Trải nghiệm 3 ngày 2 đêm tại Phú Quốc với các hoạt động đầy hấp dẫn</h6>
						<div class="container-star p-2">
							<div class"star">
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-regular fa-star-half-stroke" style="color: #FFD43B;"></i>
							</div>
							<p class="px-2">4.7</p>
						</div>
						<div class="container p-2">
							<button class="btn btn-outline-success">Đặt tour</button>
							<button class="btn btn-outline-primary">Xem thêm chi tiết</button>
						</div>
					</div>
				</div>
				<div class="col-lg-4 pic-product">
					<div class="image-container">
						<img src="../static/pictures/DaNang.jpg" class="d-block mt-4 w-100" alt="">
					</div>
					<div class="card">
						<h5 class="text-primary p-2">Phu Quoc</h5>
						<h6 class="px-2">Trải nghiệm 3 ngày 2 đêm tại Phú Quốc với các hoạt động đầy hấp dẫn</h6>
						<div class="container-star p-2">
							<div class"star">
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-regular fa-star-half-stroke" style="color: #FFD43B;"></i>
							</div>
							<p class="px-2">4.7</p>
						</div>
						<div class="container p-2">
							<button class="btn btn-outline-success">Đặt tour</button>
							<button class="btn btn-outline-primary">Xem thêm chi tiết</button>
						</div>
					</div>
				</div>
				<div class="col-lg-4 pic-product">
					<div class="image-container">
						<img src="../static/pictures/DaNang.jpg" class="d-block mt-4 w-100" alt="">
					</div>
					<div class="card">
						<h5 class="text-primary p-2">Phu Quoc</h5>
						<h6 class="px-2">Trải nghiệm 3 ngày 2 đêm tại Phú Quốc với các hoạt động đầy hấp dẫn</h6>
						<div class="container-star p-2">
							<div class"star">
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-regular fa-star-half-stroke" style="color: #FFD43B;"></i>
							</div>
							<p class="px-2">4.7</p>
						</div>
						<div class="container p-2">
							<button class="btn btn-outline-success">Đặt tour</button>
							<button class="btn btn-outline-primary">Xem thêm chi tiết</button>
						</div>
					</div>
				</div>
				<div class="col-lg-4 pic-product">
					<div class="image-container">
						<img src="../static/pictures/DaNang.jpg" class="d-block mt-4 w-100" alt="">
					</div>
					<div class="card">
						<h5 class="text-primary p-2">Phu Quoc</h5>
						<h6 class="px-2">Trải nghiệm 3 ngày 2 đêm tại Phú Quốc với các hoạt động đầy hấp dẫn</h6>
						<div class="container-star p-2">
							<div class"star">
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-regular fa-star-half-stroke" style="color: #FFD43B;"></i>
							</div>
							<p class="px-2">4.7</p>
						</div>
						<div class="container p-2">
							<button class="btn btn-outline-success">Đặt tour</button>
							<button class="btn btn-outline-primary">Xem thêm chi tiết</button>
						</div>
					</div>
				</div>
				<div class="col-lg-4 pic-product">
					<div class="image-container">
						<img src="../static/pictures/DaNang.jpg" class="d-block mt-4 w-100" alt="">
					</div>
					<div class="card">
						<h5 class="text-primary p-2">Phu Quoc</h5>
						<h6 class="px-2">Trải nghiệm 3 ngày 2 đêm tại Phú Quốc với các hoạt động đầy hấp dẫn</h6>
						<div class="container-star p-2">
							<div class"star">
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-regular fa-star-half-stroke" style="color: #FFD43B;"></i>
							</div>
							<p class="px-2">4.7</p>
						</div>
						<div class="container p-2">
							<button class="btn btn-outline-success">Đặt tour</button>
							<button class="btn btn-outline-primary">Xem thêm chi tiết</button>
						</div>
					</div>
				</div>
				<div class="col-lg-4 pic-product">
					<div class="image-container">
						<img src="../static/pictures/DaNang.jpg" class="d-block mt-4 w-100" alt="">
					</div>
					<div class="card">
						<h5 class="text-primary p-2">Phu Quoc</h5>
						<h6 class="px-2">Trải nghiệm 3 ngày 2 đêm tại Phú Quốc với các hoạt động đầy hấp dẫn</h6>
						<div class="container-star p-2">
							<div class"star">
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
								<i class="fa-regular fa-star-half-stroke" style="color: #FFD43B;"></i>
							</div>
							<p class="px-2">4.7</p>
						</div>
						<div class="container p-2">
							<button class="btn btn-outline-success">Đặt tour</button>
							<button class="btn btn-outline-primary">Xem thêm chi tiết</button>
						</div>
					</div>
				</div>
			</div>
		  </div>
		  <ul class="pagination justify-content-center mt-5">
			<li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
			<li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
			<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
			<li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
		  </ul>
		  <!--footer-->
		    <!-- footer-copyright start -->
		<footer  class="footer-copyright">
			<div class="f-container">
				<div class="footer-content">
					<div class="f-row">

						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="index.html">
										tour<span>Nest</span>
									</a>
									<p>
										best travel agency
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>link</h2>
								<div class="single-footer-txt">
									<p><a href="#">home</a></p>
									<p><a href="#">destination</a></p>
									<p><a href="#">spacial packages</a></p>
									<p><a href="#">special offers</a></p>
									<p><a href="#">blog</a></p>
									<p><a href="#">contacts</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->

						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>popular destination</h2>
								<div class="single-footer-txt">
									<p><a href="#">china</a></p>
									<p><a href="#">venezuela</a></p>
									<p><a href="#">brazil</a></p>
									<p><a href="#">australia</a></p>
									<p><a href="#">london</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">contacts</h2>
								<div class="single-footer-txt text-left">
									<p>+1 (300) 1234 6543</p>
									<p class="foot-email"><a href="#">info@tnest.com</a></p>
									<p>North Warnner Park 336/A</p>
									<p>Newyork, USA</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
		                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa-brands fa-facebook-f"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa-solid fa-x"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa-brands fa-instagram"></i></a></li>
		        	</ul>
		        	<p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

		        </div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->
	</body>
</html>